html {
    width: 100%;
    height: 100%;
}
.lead {
    font-size: 18px;
    font-weight: 400;
}

.fh5co-event {
  position: relative;
  padding-left: 120px;
  width: 100%;
  float: left;
  margin-bottom: 30px;
}

 .intro-header {
    padding-top: 100px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    text-align: center;
    color: #f8f8f8;
    background-size: cover;
    height:100%;
}

.panel{
	background:#fff;
	border-radius:0px;
	border:none;
}

.panel-primary{
	background:#fff;
	border-radius:0px;
	border:none;
}

.search{
	float:right;
	margin: 0.7em 0 0;
}
.search input[type="text"]{
	outline:none;
	border:none;
	border-bottom:1px solid #fff;
	font-size:14px;
	color:#fff;
	padding:0px 30px 8px 0;
	width:100%;
	background:none;
}
.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}


.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}
ul.nav-tabs{
    width: 140px;
    margin-top: 20px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
}
ul.nav-tabs li{
    margin: 0;
    border-top: 1px solid #ddd;
}
ul.nav-tabs li:first-child{
    border-top: none;
}
ul.nav-tabs li a{
    margin: 0;
    padding: 8px 16px;
    border-radius: 0;
}
ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover{
    color: #fff;
    background: #0088cc;
    border: 1px solid #0088cc;
}
ul.nav-tabs li:first-child a{
    border-radius: 4px 4px 0 0;
}
ul.nav-tabs li:last-child a{
    border-radius: 0 0 4px 4px;
}
ul.nav-tabs.affix{
    top: 30px; /* Set the top position of pinned element */
}

/** BELOW ARE CREATED BY WANGQIFAN, IN UN IRREGULAR MANNER */
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 940px;
  margin-bottom: 15px;
}

.main h1 {
  color: #FFF;
}

.form-group {
  color:white;
}

img {
  height:50px;
  width:50px;
  margin: 10px 0;
}

ul {
  text-align: center;
  margin-bottom: 50px;
  margin-left: -25px;
}

ul li {
  display: inline;
  text-decoration: none;
  float: left;
  padding: 10px;
  
}

.header .container {
  padding: 30px 0;
  border-bottom: 1px solid #e5e5e5;
}

.footer .container {
  padding: 20px 0;
  border-top: 1px solid #e5e5e5;
  color: #FFF;
}

/** ABOVE ARE CREATED BY WANGQIFAN, IN UN IRREGULAR MANNER */
